{% extends 'catalog/base.html' %}
{% block content %}
{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img src="{{ object_list.img|mediapath }}" class="card-img-top" alt="..."/>
        <h5 class="card-title">{{ object_list.name }}</h5>
        <h1 class="card-title pricing-card-title">$ {{object_list.price| title}}</h1>
        <p class="card-text">{{ object_list.description }}</p>
        <p class="card-text">{{ object_list.data_create }}</p>
        <p class="card-text">{{ object_list.data_edit }}</p>
        <a href="#" class="btn btn-primary">Купить</a>
    </div>
</div>
{% endblock %}